__pycache__
files
quetz.sqlite
/channels/
xtensor/
build
dist/
.jupyter_releaser_checkout/

node_modules
quetz/frontend/app/build
quetz/frontend/app/static
quetz/frontend/app/schemas
quetz/frontend/app/themes
quetz/frontend/app/style.js
lib
*.tsbuildinfo

docs/_build
docs/api
docs/source/_build

yarn-error.log

frontend_extension_examples/tests/test_quetz

# Build files
*.egg-info

# Local setup
test_quetz

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

#System
.DS_Store
