include *.md
include alembic.ini
include dev_config.toml
include environment.yml
include init_db.py
include .coveragerc
include .flake8
include .pre-commit-config.yaml
include .readthedocs.yml
include mypy.ini
include download-test-package.sh

recursive-include quetz/migrations *.*
recursive-include quetz/tests *.*
recursive-include quetz_db_ext *

# Includes the frontend
graft quetz/frontend/app
graft packages

prune quetz_frontend/app/build
prune **/node_modules

include quetz/config.toml

recursive-exclude plugins *.*
recursive-exclude quetz_client *.*

exclude set_env_dev.sh
exclude test-cli-client.sh
exclude utils/repodata_compare.py

include Dockerfile
include docker-compose.yml
recursive-include docker *

recursive-include docs/source *.*
recursive-include docs/assets *.*
include docs/make.bat
include docs/Makefile

global-exclude *.py[cod]
